{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
{{ new.post_heading|truncatewords:4 }}
{% endblock title %}

{% block front %}
Удаление Поста
{% endblock front %}

{% block content %}

<H1>{{ new.post_heading|censor }}</H1>
<br> <h2>Опубликовано {{new.publication_date|date:'M d Y'}}</h2>
{% endblock content %}
{% block text %}
 {{new.post_text|censor}}
<br> Рейтинг новости {{new.rating}}
<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить">
</form>

{% endblock text %}
