{% extends 'flatpages/default.html' %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}
SEARCH
{% endblock title %}

{% block front %}
NEWS SEARCH
{% endblock front %}

{% block content %}


<form method="GET">
    {{ filter.form }}
    <input type="date">
    <input type="submit" value="Найти">
</form>
    <table>
        <tr>
        <td>Заголовок</td>
        <td>Дата публикации</td>
        <td>Текст</td>
        <td>Рейтинг</td>
        </tr>

        {% for search in search %}
        <tr>
            <td><a href="{{post.id}}">{{search.post_heading}}</a></td>
            <td>{{search.publication_date|date:'d m Y'}}</td>
            <td>{{search.post_text|censor|truncatechars:20}}</td>
            <td>{{search.rating}}</td>
        </tr>
        {% endfor %}
    </table>
{% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a href="?page=1">First</a>
                    <a href="?page={{ page_obj.previous_page_number }}"><<</a>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                   {% if page_obj.number == num %}
                        <a>{{ num }}</a>
                   {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                       <a href="?page={{ num }}">{{ num }}</a>
                   {% endif %}
                {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">>></a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
                {% endif %}
            {% endif %}



{% endblock content %}